/* universal styles */
html {
	font-size: 16px;	
}

body {
	font-family: 'Montserrat', helvetica, sans-serif;
	line-height: 1.5rem;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.title {
	width: 100%;
	padding-top: 2rem;
	text-align: center;
}

/* header section */

#header-mobile {
	display: none;
}

#header-desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: .5rem;
	padding-left: 1.5rem;
	max-width: 100%;
	height: 4rem;
}

header div {
	display: flex;
	align-items: center;
	height: 2rem;
}

.logo span {
	font-weight: bold;
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul {
	display: flex;
}

li {
	padding: .5rem;
}

header nav ul li {
	transition-property: color;
	transition-duration: .6s;
}

header nav ul li:hover {
	color: rgb(53, 77, 255);
	border: 1px solid rgb(53, 77, 255);
	border-radius: 10px;
	transition-property: color border;
	transition-duration: .6s;
}

header nav ul li:active {
	background-color: purple;
	color: white;
}
/* header mobile */ 

@media only screen and (max-width: 768px) {
	#header-desktop {
		display: none;
	}

	#header-mobile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 4rem;
	}

	#header-mobile a:active {
		border: 1px solid rgb(53, 77, 255);
		border-radius: .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* main */

/* banner section */

#banner {
	background-color: rgb(165, 204, 255);
	display: flex;
	align-items: center;
}

#banner img {
	width: 60%;
	height: auto;
	padding: 2rem 1.5rem;
}

#banner .content {
	width: 30%;
}

#banner .content p {
	margin-top: 1.5rem;
}

#banner .button a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2.5rem;
	background-color: rgb(255, 0, 148);
	color: white;
	font-weight: bold;
	font-size: 1.4rem;
	margin-top: 1.5rem;
	border-radius: 10px;
}

#banner .button a:hover {
	background-color: rgb(53, 77, 255);
	transition-property: background-color;
	transition-duration: .5s;
}

/* banner mobile */

@media only screen and (max-width: 768px) {
	#banner {
		flex-wrap: wrap;
		width: 100%;
	}

	#banner img {
		width: 100%;
		height: auto;
		padding: 0rem 0rem;
	}

	#banner .content {
		width: 100%;
	}

	#banner .content h1 {
		padding: 2rem 1rem;
	}

	#banner .content p {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 1.5rem;
	}

	#banner .button {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 2rem;
		width: auto;
	}
}

/* information section */

#information-main {
	display: flex;
	padding-bottom: 2rem;
	height: 36rem;
}

#information-left {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#information-left img {
	padding: 2rem 1.5rem;
	width: 90%;
}

#information-left .text {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 90%;
	overflow: scroll;
}

#information-left .text p {
	padding-top: 1.5rem;
	width: 60%;
}

#information-right {
	display: flex;
	flex-direction: column;
	padding-top: 1.9rem;
}

#information-right .more-info {
	display: flex;
}

#information-right .more-info {
	background-color: rgb(137, 255, 153);
	margin: .1rem;
}

#information-right .more-info:nth-child(2) {
	background-color: rgba(137, 255, 153, .7);
}

#information-right .more-info:hover {
	background-color: rgb(137, 182, 255);
}

#information-right .img-container {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 35%;
}

#information-right img {
	width: 65%;
	height: auto;
	padding: 1rem;
}

#information-right .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	padding-right: 1.5rem;
}

#information-right .text p {
	padding-top: .5rem;
}

#information-right .text p:nth-child(1) {
	color: blue;
}

#information-right img.mobile {
	display: none;
}

/* information mobile */

@media screen and (max-width: 768px) {
	#information-main {
		width: 100%;
		height: auto;
	}

	#information-left {
		display: none;
	}

	#information-right .more-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}

	#information-right img.pc {
		display: none;
	}

	#information-right img.mobile {
		display: flex;
		padding: 1rem;
		width: 100%;
		height: auto;
		box-sizing: border-box;
	}

	#information-right .text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 1rem;
	}
}
/* course section */

#course-section {
	background-color: rgb(165, 204, 255);
}

#courses {
	padding: 2rem 2.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.course {
	width: 20rem;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	background-color: white;
}

.course img {
	width: 100%;
	height: auto;
}

.course h2 {
	padding: 1rem;
}

.course p {
	padding-left: 1rem;
}

.course p:nth-child(4) {
	padding-top: .5rem;
	padding-bottom: 1.5rem;
}

/* course mobile */

@media screen and (max-width: 768px) {
	#course-section {
		background-color: white;
	}

	.course {
		background-color: lightgrey;
	}

	.course:active {
		background-color: rgb(53, 77, 255);
	}

	.course img {
		display: none;
	}

	.course p {
		display: none;
	}

	.course {
		padding-left: 1rem;
		padding-top: 1rem;
		padding-bottom: 1.5rem;
		margin: 0rem 0rem .5rem 0rem;
	}
}

/* thesis section */

#thesis-info {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#thesis-left {
	display: flex;
	flex-direction: column;
	padding-left: 1.5rem;
	width: 60%;
}

#thesis-left video {
	width: 100%;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
}

#thesis-left p {
	padding-top: .5rem;
}

#thesis-right {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.thesis-right {
	display: flex;
	height: 11.5rem;
}

.thesis-right img {
	display: flex;
	width: 35%;
	height: auto;
	padding: 1rem;	
}

.thesis-right .more-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.thesis-right .more-info p {
	padding-top: .5rem;
}

.thesis-right:nth-child(1) {
	background-color: rgba(192,192,192, .5);
}

.thesis-right:hover {
	background-color: rgb(137, 182, 255);
}

/* thesis mobile */

@media screen and (max-width: 768px) {
	#thesis-info #thesis-text {
		display: none;
	}

	#thesis-right {
		display: none;
	}

	#thesis video {
		width: 100%;
		padding: 0px;
		height: auto;
	}

	#thesis-left {
		width: 100%;
		height: auto;
		padding: 0rem 0rem;
	}
}

/* footer */

footer {
	padding: 1rem 1.5rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid grey;
	font-size: .8rem;
}

footer ul {
	display: flex;
}

footer ul li {
	display: inline-flex;
}

/* footer mobile */

@media screen and (max-width: 768px) {
	footer ul {
		display: none;
	}
}