/* universal styles */
html {
	font-size: 16px;	
}

body {
	font-family: helvetica;
	line-height: 1.5rem;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

.title {
	width: 100%;
	padding-top: 2rem;
	text-align: center;
}

/* header section */

#header-mobile {
	display: none;
}

#header-desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: .5rem;
	padding-left: 1.5rem;
	max-width: 100%;
	height: 4rem;
}

header div {
	display: flex;
	align-items: center;
	height: 2rem;
}

header nav {
	display: flex;
	align-items: center;
}

header nav ul {
	display: flex;
}

li {
	padding-right: 1rem;
}

/* mobile header */ 

@media only screen and (max-width: 560px) {
	#header-desktop {
		display: none;
	}

	#header-mobile {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 4rem;
	}
}

/* main */

main {
	max-width: 100%;
}

/* banner section */

#banner {
	background-color: lightgrey;
	display: flex;
	align-items: center;
}

#banner img {
	width: 60%;
	height: auto;
	padding: 2rem 1.5rem;
}

#banner .content {
	width: 30%;
}

#banner .content p {
	margin-top: 1.5rem;
}

#banner .button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 2.5rem;
	background-color: gray;
	color: white;
	margin-top: 1.5rem;
}

/* mobile banner */

@media only screen and (max-width: 560px) {
	#banner {
		flex-wrap: wrap;
		width: 100%;
	}

	#banner img {
		width: 100%;
		height: auto;
		padding: 0rem 0rem;
	}

	#banner .content {
		width: 100%;
	}

	#banner .content h1 {
		padding: 2rem 1rem;
	}

	#banner .content p {
		padding-left: 1rem;
		padding-right: 1rem;
		padding-bottom: 1.5rem;
	}

	#banner .button {
		margin-left: 1rem;
		margin-right: 1rem;
		margin-bottom: 2rem;
		width: auto;
	}
}

/* information section */

#information-main {
	display: flex;
	padding-bottom: 2rem;
	height: 36rem;
}

#information-left {
	display: flex;
	flex-direction: column;
	width: 60%;
}

#information-left img {
	padding: 2rem 1.5rem;
	width: 90%;
}

#information-left .text {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: 90%;
}

#information-left .text p {
	padding-top: 1.5rem;
	width: 60%;
}

#information-right {
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

#information-right .more-info {
	display: flex;
}

#information-right img.pc {
	width: 35%;
	height: auto;
	padding: 1rem 1rem;
}

#information-right .text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 65%;
	padding-right: 1.5rem;
}

#information-right .text p {
	padding-top: .5rem;
}

#information-right .text p:nth-child(1) {
	color: blue;
}

#information-right img.mobile {
	display: none;
}

/* mobile information */

@media screen and (max-width: 560px) {
	#information-main {
		height: auto;
	}

	#information-left {
		display: none;
	}

	#information-right .more-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#information-right img.pc {
		display: none;
	}

	#information-right img.mobile {
		display: flex;
		width: 100%;
		height: auto;
	}

	#information-right .text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}
/* course section */

#course-section {
	background-color: lightgrey;
}

#courses {
	max-width: 100%;
	padding: 2rem 2.5rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.course {
	width: 20rem;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	background-color: white;
}

.course img {
	width: 100%;
	height: auto;
}

.course h2 {
	padding: 1rem;
}

.course p {
	padding-left: 1rem;
}

.course p:nth-child(4) {
	padding-top: .5rem;
	padding-bottom: 1.5rem;
}

#thesis-info {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#thesis-left {
	display: flex;
	flex-direction: column;
	padding-left: 1.5rem;
	width: 60%;
}

#thesis-left video {
	width: 100%;
	padding-right: 1.5rem;
	padding-bottom: 1.5rem;
}

#thesis-left p {
	padding-top: .5rem;
}

#thesis-right {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.thesis-right {
	display: flex;
	height: 11.5rem;
}

.thesis-right img {
	display: flex;
	width: 35%;
	height: auto;
	padding-top: .5rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
}

.thesis-right .more-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.thesis-right .more-info p {
	padding-top: .5rem;
}

footer {
	padding: 1rem 1.5rem;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid grey;
	font-size: .8rem;
}

footer ul {
	display: flex;
}

footer ul li {
	display: inline-flex;
}